//VARIABLES
$body-text-color: #fff;
$border-color: #666;
$border-radius: 5px;
$h1-h2-h3-text: #4040ad;
$h1-h2-h3-background: #f0f0f1;

body {
	background-image:url('../images/bg_grass.jpg');
	color:$body-text-color;
}

h1, h2 {
	background-color: $h1-h2-h3-background;
	color: $h1-h2-h3-text;
	border: 5px solid $border-color;
	border-radius: $border-radius;
	text-align: center;
}
h2{
    font-size: 38px;
}

h3 {
	background-color: $h1-h2-h3-background;
	color: $h1-h2-h3-text;
	font-size:30px;
	border: 5px solid $border-color;
	border-radius: $border-radius;
	text-align: center;
}

.tall-photo{
    width: 100%;
}
p.postdate {
	font-style:italic;
}

.panel-body{
    color: $border-color;
}
div.panel-heading[data-toggle=collapse]{
    cursor: pointer;
}
