/*CSS Document*/
@font-face {
  font-family: Neon;
  src: url(HARLOWSI.TTF) format("truetype");
  letter-spacing: 2px;
  font-weight: bold; }
body {
  margin: 0;
  margin-top: 125px;
  width: 100%;
  min-width: 720px;
  font-family: Arial;
  color: #DDD;
  background-color: #1E4456; }

header {
  width: 100%;
  font-family: "Narkisim";
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  display: block;
  position: fixed;
  top: 0px;
  background-image: url(../images/header-back-trans.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-origin: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #DDD; }
  header span {
    position: fixed;
    font-style: normal;
    font-variant: small-caps;
    margin: auto;
    margin-top: 18px;
    margin-left: 50px;
    font-size: 42px;
    color: #DDD;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    letter-spacing: 2px; }
    header span:hover {
      text-shadow: -3px -1px 3px #000, 0 0 50px #DDD;
      cursor: default; }

nav {
  min-width: 1280px; }
  nav a {
    text-decoration: none; }
  nav ul {
    font-family: Neon;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding-top: 16px;
    font-size: 24px;
    text-shadow: -1px 1px 0px black;
    text-align: center;
    letter-spacing: 2px;
    list-style: none; }
    nav ul li {
      display: inline-block;
      cursor: pointer;
      padding: 5px;
      box-shadow: -3px 0 12px rgba(0, 0, 0, 0.7), inset -3px -3px 10px rgba(0, 0, 0, 0.4);
      border-radius: 3px 25px 3px 15px / 3px 25px 3px 15px;
      border: 5px double #2B617B; }
      nav ul li a {
        color: #777; }
      nav ul li:hover {
        border-color: lightblue;
        box-shadow: 0 0 5px lightblue, 0 0 150px lightblue, inset 0 0 10px lightblue;
        text-shadow: -1px 1px 0px black, 0 0 5px lightgray; }
        nav ul li:hover a {
          color: #DDD; }
        nav ul li:hover ul li a {
          color: #777; }
        nav ul li:hover ul li:hover a {
          color: #DDD; }
      nav ul li ul {
        background-color: #333;
        background-image: url(../images/header-back-trans.png);
        background-repeat: repeat;
        border: 5px double #2B617B;
        box-shadow: -3px 0 12px rgba(0, 0, 0, 0.7), inset -3px -3px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        float: left;
        position: relative;
        top: 65px;
        text-align: left; }
        nav ul li ul:hover {
          border: 5px double lightblue;
          box-shadow: 0 0 5px lightblue, 0 0 150px lightblue, inset 0 0 10px lightblue; }
        nav ul li ul li {
          text-align: left;
          font-size: smaller;
          padding-left: 15px;
          padding-right: 15px;
          border: none;
          box-shadow: none;
          border-radius: 0px; }
          nav ul li ul li:hover {
            text-shadow: -1px 1px 0px black, 0 0 5px lightgray;
            box-shadow: none; }
        nav ul li ul:last-child {
          padding-bottom: 5px; }
        nav ul li ul:first-child {
          padding-top: 5px; }
  nav li ul {
    display: none;
    width: 10em;
    background-color: transparent; }
    nav li ul li ul li {
      display: none; }
  nav li:hover ul, nav li .hover ul {
    display: block;
    position: absolute;
    z-index: 5;
    margin: 0;
    padding: 0; }
    nav li:hover ul li, nav li:hover ul .hover li, nav li .hover ul li, nav li .hover ul .hover li {
      float: none; }

.headerListItemLitUp {
  /*border-color: $neonUnlit;*/
  border-color: lightblue;
  color: #DDD;
  box-shadow: 0 0 5px lightblue, 0 0 150px lightblue, inset 0 0 10px lightblue;
  text-shadow: -1px 1px 0px black, 0 0 5px lightgray; }

header aside {
  float: right;
  position: relative;
  top: -3em;
  right: 1em; }
  header aside a {
    color: #DDD;
    text-decoration: none; }
    header aside a:hover {
      text-decoration: underline;
      cursor: pointer; }

h1 {
  font-size: 60px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  color: #DDD;
  margin-right: auto;
  margin-left: auto; }

h3 {
  text-align: center; }

#container {
  width: 70%;
  min-height: 666px;
  background-color: #113546;
  margin: auto;
  margin-bottom: 2em;
  padding: 25px 10px;
  border-radius: 20px;
  border: 5px double #2B617B;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); }
  #container a {
    color: lightblue; }
    #container a:visited {
      color: #f69dd1; }

#containerHidden {
  width: 90%;
  min-height: 666px;
  background-color: transparent;
  margin: auto;
  margin-bottom: 2em;
  padding: 25px 10px;
  border-radius: 20px;
  border: 5px double transparent;
  box-shadow: none; }

figure img {
  margin: 10px;
  padding: 5px;
  border: double 5px #DDD; }

footer {
  height: 30px;
  margin-top: 3.4%;
  padding: 7px;
  text-align: center;
  background-color: #113546;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #113546), color-stop(0.95, #1E4456)); }
  footer a {
    color: lightblue; }
    footer a:visited {
      color: #f69dd1; }

.Btn, .submitBtn, .cancelBtn {
  width: 120px;
  height: 48px;
  border-radius: 10px;
  border: 5px double #555;
  padding: 10px;
  color: #EEE;
  font-weight: bold;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.6);
  text-shadow: -1px 1px 0px #111;
  outline: none; }

.submitBtn {
  background-color: #2B617B; }
  .submitBtn:hover {
    border: 5px double lightblue; }

.cancelBtn {
  background-color: maroon; }
  .cancelBtn:hover {
    border: 5px double #9a0000; }

/*# sourceMappingURL=site_css.css.map */
