//SASS VARIABLES
$lightblue: aliceblue;
$basefont: sans-serif;
$leftmargin: 50px;
$padding: 10px;

//SASS MIXINS
@mixin createborder($weight,$style,$color,$radius){
    border: $weight $style $color;
    border-radius: $radius;
}

/* Quiz styles */

header {
    @include createborder(2px,solid,#064277,20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $lightblue;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family: $basefont;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    @include createborder(2px,solid,#064277,20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $lightblue;
    
    p{
        font-family: serif;
        font-style:normal;
    }
}

#list{
    @include createborder(2px,solid,#064277,20px);
    background-color: $lightblue;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $leftmargin;
    color:#58a0e0
}

ul{
    margin-left: $leftmargin;
}



.samplepara {
    @include createborder(3px,solid,#58a0e0,5px);
    padding: $padding;
    background-color: white;
}

footer {
    @include createborder(2px,solid,#064277,20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $lightblue;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}