/*SASS VARIABLES*/
$background: #333;
$container: #222;
$dark: #111;
$text-white: #E7E7E7;
$text-dark: darkgray;
$link-light: lightblue;
$link-dark: steelblue;

body {
    padding-top: 80px;
    background-color: $background;
    a {
        color: $link-light;
        &:visited {
            color: $link-light;
        }
        &:hover {
            color: $link-dark;
        }
        &.btn{
            color: $text-white !important;
            font-weight: bold;
            text-shadow: 0 0 10px #000;
        }
        .btn-default{
                color: $dark;
                font-weight: bold;
        }
    }
}
nav {
    color: $text-white;
    a.navbar-brand {
        padding-top: 5px;
        img {
            height: 40px;
            margin-top: 0;
        }
    }
    .dropdown-menu {
        background-color: $dark;
        a {
            color: $text-dark;
            &:hover {
                background-color: $dark;
                color: $text-white;
            }
        }
    }
}
section {
    color: $text-white;
    &#main-content {
        .container {
            background-color: $container;
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            font-weight: bold;
            text-align: center;
        }
        p {
            font-size: 20px;
        }
        ul.fundraiser{
            font-size: 20px;
            list-style: none;
            padding: 0;
            span{
                padding-right: 10px;
            }
        }
        .panel-heading{
            background-color: $background;
            color: $text-white;
            cursor: pointer;
        }
        .panel-body{
            background-color: $container;
            .list-group-item{
                background-color: $background;
            }
        }
        table{
            background-color: $background;
            th{
                &:nth-child(1){
                    width: 30%;
                }
                background-color: $dark;
            }
            td{
                img{
                    width: 150px;
                    display: block;
                }
            }
        }
        
    }
    &#extra-content {
        p{
            font-size: 18px;
        }
        ul.vertical-list {
            list-style: none;
            padding: 0;
            li {
                display: block;
                font-size: 20px;
                padding-bottom: 10px;
                img {
                    width: 50px;
                }
            }
        }
    }
}
footer {
    background: $container;
    color: $text-white;
    padding: 30px 0 20px 0;
    li {
        float: left;
        padding: 0 10px 0 10px;
        list-style: none;
    }
    p {
        float: right;
    }
    a {
        color: $link-light;
        &:visited{
            color: $link-light;
        }
    }
}
@media(min-width: 768px) and (max-width: 991px){
    #extra-content{
        text-align: center;
        
        .row div{
            width: 80%;
            margin: auto;
            text-align: left;
        }
        form{
            text-align: left;
            label{
                margin-top: 10px;
            }
            .btn{
                margin-left: 50px;
            }
        }
    }
    
    
}
@media(min-width: 481px) and (max-width: 768px){
    #extra-content{
        text-align: center;
        .row div{
            width: 80%;
            margin: auto;
            text-align: left;
        }
        form{
            text-align: left;
            .btn{
                margin-left: 35px;
            }
        }
    }
}